include README.md
include CMakeLists.txt
include pyproject.toml
recursive-include src/cf_streamfind *.py *.nq
recursive-include src/cf_streamfind/cpp *.cpp *.hpp *.h CMakeLists.txt
recursive-include src/cf_streamfind/resources *
recursive-include resources *
recursive-include cmake *.cmake
recursive-include tools *.py *.txt *.cmake
exclude src/cf_streamfind/bin/*.dll
exclude src/cf_streamfind/bin/*.so
exclude src/cf_streamfind/bin/*.dylib
prune build
prune dist
prune *.egg-info
